body{
    width: 100%;
    margin: 0px;
    margin-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header{
    background-color: white;
    font-size: 13px;
    padding: 7px;
    margin-bottom: px;
    margin-left: 110px;
}
header a{
    text-decoration: none;
    color: grey;
}
header a:hover{
    color: rgb(73, 206, 206);
    text-decoration: none
}
header span {
    float: right;
    font-size: 27px;
    text-decoration: none
}
/* header span img{
    border-radius: 15px;
} */
main{
    background-image: url(images/shard.jpg);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #eazi{
    background-image: url(images/bg.jpg);
    background-size: cover;
    padding-top: 60px;
    }
main a{
    text-decoration: none;
    }
nav{
    margin-left: 350px;
   
}
nav ul li{
    padding: 13px;
    font-size: 13px;
}
nav ul li a{
    text-decoration: none;
    color: white
}
nav ul li a:hover{
    color: rgb(73, 206, 206);
    text-decoration: none
}
section{
    padding: 200px;
}
section h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    text-shadow: 3px 1px 10px black
}
